In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('./data/cleaned_measurements.csv')

In [13]:
df.head()

,distance,consume,temp_inside,temp_outside,gas_type,AC,rain,sun,temp_diff,fuel_used,cost_of_trip,trip_in_hours,avg_speed
0,28.0,5.0,21.5,12,E10,0,0,0,9.5,1.4000,2.534,0.433333,64.615385
1,12.0,4.2,21.5,13,E10,0,0,0,8.5,0.5040,0.912,0.500000,24.000000
2,11.2,5.5,21.5,15,E10,0,0,0,6.5,0.6160,1.115,0.633333,17.684211
3,12.9,3.9,21.5,14,E10,0,0,0,7.5,0.5031,0.911,0.600000,21.500000
4,18.5,4.5,21.5,15,E10,0,0,0,6.5,0.8325,1.507,0.766667,24.130435

In [14]:
import scipy.stats as stats

groups = [df[df['gas_type'] == fuel]['fuel_used'] for fuel in df['gas_type'].unique()]

f_statistic, p_value = stats.f_oneway(*groups)

print(f"F-statistic: {f_statistic}")
print(f"P-value: {p_value}")

F-statistic: 1.1861208770236622
P-value: 0.27679289437746357

The P-Value is over the threeshold, so we cannot reject the Null-hypothesis

H0: Some cost of the trip for different fuel

In [15]:
groups = [df[df['gas_type'] == fuel]['cost_of_trip'] for fuel in df['gas_type'].unique()]

f_statistic, p_value = stats.f_oneway(*groups)

print(f"F-statistic: {f_statistic}")
print(f"P-value: {p_value}")

F-statistic: 0.033535544752743576
P-value: 0.8547944200479042

The P-Value is over the threeshold, so we cannot reject the Null-hypothesis